<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Repy your thread from <%= @post.user.name %></h1>
    <p>
        <%= @post.content %>
    </p>
  </body>
</html>