body { font-family: "Open Sans",Helvetica,Arial,sans-serif; }
.fweightnormal { font-weight: normal; }
.colorblack { color: black; }
.right { text-align: right; }
.fn12 { font-size: 12px; }
.fncolorlabel { color: #667c99; }
.fnbold { font-weight: bold; }
.mrright10 { margin-right: 10px; }
.mrbotton10 { margin-bottom: 10px; }
.mrbotton30 { margin-bottom: 30px; }
.photolist { width: 30px; height: 30px; }
.mdpdnull { margin:0px; padding:0px; }
.font15 { font-size: 15px; }
.title:hover { text-decoration: none; color: #667c99; }
.left { float: left; }
.nav_pp { margin-top: 9px; }